:root{
  --color2 : rgb(96 165 250);
  --color3 :  rgb(59 130 246);
  --gray500 : rgb(107 114 128);
  --gray600 : rgb(75 85 99);
  --gray700 : rgb(55 65 81);
  --gray800 : rgb(31 41 55);

}


body{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-optical-sizing: auto;
    font-style: normal;
}

.col-md-6{padding: 0;}
.product_img{width: 100%;}
.adminshopimgbox{width: 100%;overflow: hidden;height: 300px;}
.adminshopimgbox img{transition: 0.3s ease;}
.adminshopimgbox img:hover{scale: 1.1;}
.star-wrapper {
    font-size: 24px;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .star-wrapper .fa-star {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
  }

/* Mobile Styles (up to 480px) */
@media (max-width: 480px) {
    .adminshopimgbox{width: 100%;height: 300px;overflow: hidden;}

  }
  
  /* Tablet Styles (481px to 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
  
  }
  
  /* Desktop Styles (769px and above) */
  @media (min-width: 769px) {
   
  }




  .xyz{font-size: 20px;}

















  /* ------------------------------ */
/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
}

/* Navbar */
.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}




.hamburger {
  cursor: pointer;
  font-size: 1.5rem;
}

.profile {
  position: relative;
}

.profile img {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.profile-dropdown ul {
  list-style-type: none;
  padding: 10px;
}

.profile-dropdown ul li {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-dropdown ul li:hover {
  background-color: #f1f1f1;
}

.profile-dropdown ul li svg {
  margin-right: 10px;
}

/* Side Menu */
.side-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 20px;
}

.side-menu ul li {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  
}


.side-menu ul li svg {
  margin-right: 15px;
}

/* Main Content */
.main-content {
  margin-left: 260px;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .side-menu {
    width: 200px;
  }

  .side-menu.open {
    width: 200px;
  }
}
